/* Header Menus Start */

body {
    background-color: #2d3035;
}

@media (min-width: 991.98px) {
main {
        padding-left: 240px;
}
}


/* Sidebar */
.server-brand { 
    color: rgb(211, 207, 201) !important;
    padding-left: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 991.98px) {
.sidebar {
        width: 100%;
}   
}
.sidebar .active {
    border-radius: 3px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background-color: #ddd;
}

.main-profile {
    padding-right: 10px;

}

.main-body { 
    margin-top: 50px;
    margin-left: 260px;
    min-width:  calc(85%);
    max-width: calc(90% - 260px);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #27282a;
}

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
  color: #fff;
}

.content-header>h1 {
  margin: 0;
  font-size: 24px;
}

.content-header > h2 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
    color: #fff;
}

.content-header >.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.content-header>.breadcrumb > li > a  {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.content-header>.breadcrumb > li > a >.fa,
.content-header>.breadcrumb > li > a >.glyphicon,
.content-header>.breadcrumb > li > a >.ion {
    margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
    content: '\00a0>\00a0';
}

.navbar-lightblue { 
    background-color: #3b6c99 !important;
    border-color: #3b6c99;
    color: #ddd !important;
}

.navbar-lightblue .navbar-brand {
    color: #ddd !important;
}

.navbar-lightblue .navbar-nav .nav-link {
    color: #ddd !important;
}

.sidebar-darkblue { 
    background-color: #222d32 !important;
    border-color: #222d32 !important;
    color: #ddd !important;
}

.treeview-menu > li > .active {
    background-color: #2e4048 !important;
    border-color: #2e4048;
    color: #ddd !important;
    border-radius: 0 !important;
    border-left: 3px solid #367fa9;
    box-shadow: none !important;
}

.sidebar .treeview-menu .list-group-item .active i {
    color: #ddd !important;
    margin-left: -3px;
}

.list-group > .active { 
    background-color: #2e4048 !important;
    border-color: #2e4048;
    color: #ddd !important;
    border-radius: 0 !important;
    border-left: 3px solid #367fa9 !important;
    box-shadow: none !important;
}

.sidebar .list-group-item {
    color: #ddd !important;
    background-color: #222d32 !important;
    border-color: transparent;
    box-shadow: none !important;
}

.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
  
.treeview-menu .treeview-menu {
    padding-left: 20px;
}
  
.treeview-menu>li {
    margin: 0;
}
  
.treeview-menu > li > a  {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
  
  .treeview-menu > li > a >.fa,
  .treeview-menu > li > a >.glyphicon,
.treeview-menu > li > a >.ion {
    width: 20px;
}
  
  .treeview-menu > li > a >.pull-right-container>.fa-angle-left,
  .treeview-menu > li > a >.pull-right-container>.fa-angle-down,
  .treeview-menu > li > a >.fa-angle-left,
.treeview-menu > li > a >.fa-angle-down {
    width: auto;
}

/* Header Menus End */


/* Main Content Boxes! */
/************************ BOXES *********************/

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}
  
.small-box>.inner {
    padding: 10px
}
  
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}
  
.small-box>.small-box-footer:hover {
    color: #fff;
background: rgba(0, 0, 0, 0.15)
}
  
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0
}
  
.small-box p {
    font-size: 15px
}
  
.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}
  
.small-box h3,
.small-box p {
    z-index: 5
}
  
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
color: rgba(0, 0, 0, 0.15)
}
  
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9
}
  
.small-box:hover .icon {
    font-size: 95px
}
  
@media (max-width:767px) {
.small-box {
        text-align: center
}
.small-box .icon {
        display: none
}
.small-box p {
        font-size: 12px
}
}


  
.box {
    position: relative;
    border-radius: 15px;
    background:#22252a;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    overflow:inherit;
}
  
.box.box-info {
    border-top-color: #00c0ef;
}
  
.box.box-danger {
    border-top-color: #dd4b39;
}
  
.box.box-warning {
    border-top-color: #f39c12;
}
  
.box.box-success {
    border-top-color: #00a65a;
}
  
.box.box-default {
    border-top-color: #d2d6de;
}
  
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none
}
  
.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0
}
  
.box .nav-stacked>li:last-of-type {
    border-bottom: none
}
  
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto
}
  
.box .border-right {
    border-right: 1px solid #f4f4f4
}
  
.box .border-left {
    border-left: 1px solid #f4f4f4
}
  
.box.box-solid {
    border-top: 0
}
  
.box.box-solid>.box-header .btn.btn-default {
    background: transparent:
}
  
.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
background: rgba(0, 0, 0, 0.1)
}
  
.box.box-solid.box-default {
    border: 1px solid #d2d6de
}
  
.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de
}
  
.box.box-solid.box-default>.box-header a,
.box.box-solid.box-default>.box-header .btn {
    color: #444
}
  
.box.box-solid.box-primary {
    border: 1px solid #3c8dbc
}
  
.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc
}
  
.box.box-solid.box-primary>.box-header a,
.box.box-solid.box-primary>.box-header .btn {
    color: #fff
}
  
.box.box-solid.box-info {
    border: 1px solid #00c0ef
}
  
.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef
}
  
.box.box-solid.box-info>.box-header a,
.box.box-solid.box-info>.box-header .btn {
    color: #fff
}
  
.box.box-solid.box-danger {
    border: 1px solid #dd4b39
}
  
.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39
}
  
.box.box-solid.box-danger>.box-header a,
.box.box-solid.box-danger>.box-header .btn {
    color: #fff
}
  
.box.box-solid.box-warning {
    border: 1px solid #f39c12
}
  
.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12
}
  
.box.box-solid.box-warning>.box-header a,
.box.box-solid.box-warning>.box-header .btn {
    color: #fff
}
  
.box.box-solid.box-success {
    border: 1px solid #00a65a
}
  
.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a
}
  
.box.box-solid.box-success>.box-header a,
.box.box-solid.box-success>.box-header .btn {
    color: #fff
}
  
.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none
}
  
.box.box-solid[class*='bg']>.box-header {
    color: #fff
}
  
.box .box-group>.box {
    margin-bottom: 5px
}
  
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em
}
  
.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
  
.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
background: rgba(255, 255, 255, 0.7);
    border-radius: 3px
}
  
.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px
}
  
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
background: rgba(0, 0, 0, 0.5)
}
  
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table
}
  
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both
}
  
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table
}
  
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both
}
  
.box-header {
    color: #fff;
    display: block;
    padding: 15px;
    position: relative;
    background: #3b4049;
    font-size: 20px;
    border: 1px transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.box-header.with-border {
    border-bottom: 1px solid #3b4049;;
    background: #3b4049;
    min-height: 65px;
}
  
.collapsed-box .box-header.with-border {
    border-bottom: none
}
  
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
  
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    margin-right: 5px
}
  
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px
}
  
.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative
}
  
.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto
}
  
.box-header>.box-tools .dropdown-menu > li > a  {
    color: #444!important
}
  
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3
}
  
.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84
}
  
.btn-box-tool.btn:active {
    box-shadow: none
}

.btn-admin-panel {
    color:#ddd;
    background-color:#3b6c99;
}

.btn-admin-panel:hover {
    color:#fff;
    background-color:#3b668d !important;
}  

.btn-admin-panel:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color:#40688d !important;
    border-color: #40688d !important;;
}
  
@media (max-width:768px) {
.box-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 15px;
}
}
  
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 15px;
    min-height: 135px;
    overflow-y: auto;
}
  
.scroll_body { 
    overflow: auto;
}
  
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
  
.box-body>.table {
    margin-bottom: 0
}
  
.box-body .fc {
    margin-top: 5px
}
  
.box-body .full-width-chart {
    margin: -19px
}
  
.box-body.no-padding .full-width-chart {
    margin: -9px
}
  
.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px
}
  
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0
}
  
.box-footer {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    background-color: #22252a;
}
  
.chart-legend {
    margin: 10px 0
}
  
@media (max-width:991px) {
.chart-legend>li {
      float: left;
      margin-right: 10px
}
}
  
.box-comments {
    background: #f7f7f7
}
  
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee
}
  
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table
}
  
.box-comments .box-comment:after {
    clear: both
}
  
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table
}
  
.box-comments .box-comment:after {
    clear: both
}
  
.box-comments .box-comment:last-of-type {
    border-bottom: 0
}
  
.box-comments .box-comment:first-of-type {
    padding-top: 0
}
  
.box-comments .box-comment img {
    float: left
}
  
.box-comments .comment-text {
    margin-left: 40px;
    color: #555
}
  
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600
}
  
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px
}

table { 
    color: #ddd !important;
}

.table>tbody>tr:nth-of-type(odd)>* {
    color: #ddd !important;
    background-color: #2f343d;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none !important; 
    border-width: 0;
    vertical-align: middle;
}

.table>tbody>tr {
    border-color: inherit;
    border-style: none !important;
    border-width: 0;
    text-align: center;
}

.table > thead > tr > th { 
    vertical-align: middle;
    text-align: center;
}

/* Start Widgets!!! */

.modal {
background: rgba(0, 0, 0, 0.3)
}
  
.modal-primary .modal-header,
.modal-primary .modal-footer {
    border-color: #307095
}
  
.modal-warning .modal-header,
.modal-warning .modal-footer {
    border-color: #c87f0a
}
  
.modal-info .modal-header,
.modal-info .modal-footer {
    border-color: #0097bc
}
  
.modal-success .modal-header,
.modal-success .modal-footer {
    border-color: #00733e
}
  
.modal-danger .modal-header,
.modal-danger .modal-footer {
    border-color: #c23321
}
  
.box-widget {
    border: none;
    position: relative
}

.vm-box-list {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
  
.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
  
.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}
  
.widget-user .widget-user-desc {
    margin-top: 0;
    padding-left:35px;
    line-height: 1.3;
    font-weight: 300;
    font-size: 18px;
}
  
.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
    padding: 20px;
}
  
.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff
}
  
.widget-user .box-footer {
    padding-top: 30px
}
  
.widget-user-2 .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
  
.widget-user-2 .widget-user-header .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 85px;
    font-size: 25px;
    font-weight: 300;
    padding-left: 45px;
}
  
.widget-user-2 .widget-user-header .widget-user-desc {
    margin-top: 0;
    padding-left:45px;
    font-size: 14px;
    margin-left: 85px;

}
  
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
    margin-left: 85px;
    padding-left: 45px;
}
  
.widget-user-2 .widget-user-header .widget-user-image >img {
    width: 100px;
    height: auto;
    float: left;
    margin-top: 20px;
}

.widget-user-2 .widget-user-header > button { 
    float: right !important;
    margin-top: 10px;
    margin-right: 10px;
}

ul > li > a > i ,
ul > li > a > span,
ul > li > a :hover,
ul > li > a {
    color: #ddd !important;
    text-decoration: none;
}

/* End Widgets!!! */


/* NAV TABS WOOT FML */
.nav-tabs {
    --bs-nav-tabs-border-color: transparent !important;
    border: none;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-left: -10px;
}

.nav-tabs-content { 
    margin-left: -10px;
    padding-right: 1%;
}
  
.nav-tabs-custom > .nav-tabs {
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
  
.nav-tabs-custom > .nav-tabs > li {
    margin-bottom: -2px;
    background: #307197;
    padding: 10px 15px;
}
  
.nav-tabs-custom > .nav-tabs>li.disabled>a {
    color: #777;
}
  
.nav-tabs-custom > .nav-tabs > li > a {
    color: #fff;
    border-radius: 0;
}
  
.nav-tabs-custom > .nav-tabs > li > a.text-muted {
    color: #999;
}
  
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}
  
.nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #fff;
    background: transparent;
}
  
.nav-tabs-custom > .nav-tabs > li:hover,
.nav-tabs-custom > .nav-tabs > li:focus {
    border-color: transparent;
    background-color: #3d90c1;
    color: #fff;
    padding: 10px 15px;
}

.nav-tabs-custom > .nav-tabs > li:active {
    border-color: transparent;
    background-color: #1680bf;
    color: #fff;
    padding: 10px 15px;
}
  
.nav-tabs-custom > .nav-tabs>li.active>a,
.nav-tabs-custom > .nav-tabs>li.active:hover>a {
    background-color: #3d90c1;
    color: #fff;
}
  
.nav-tabs-custom > .nav-tabs>li.active>a {
    border-top-color: #3d90c1;
    border-left-color: #3d90c1;
    border-right-color: #3d90c1;
    background: transparent;
}
  
.nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom > .nav-tabs > li:not(:first-of-type) {
    margin-right: 0px;
}

  
.nav-tabs-custom > .nav-tabs > li:first-of-type.active>a {
    border-left-color: transparent;
}
  
.nav-tabs-custom > .nav-tabs.pull-right {
    float: none !important;
}
  
.nav-tabs-custom > .nav-tabs.pull-right>li {
    float: right;
}
  
.nav-tabs-custom > .nav-tabs.pull-right>li:first-of-type {
    margin-right: 0;
}
  
.nav-tabs-custom > .nav-tabs.pull-right>li:first-of-type>a {
    border-left-width: 1px;
}
  
.nav-tabs-custom > .nav-tabs.pull-right>li:first-of-type.active>a {
    border-left-color: #f4f4f4;
    border-right-color: transparent;
}
  
.nav-tabs-custom > .nav-tabs>li.header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
}
  
.nav-tabs-custom > .nav-tabs>li.header>.fa,
.nav-tabs-custom > .nav-tabs>li.header>.glyphicon,
.nav-tabs-custom > .nav-tabs>li.header>.ion {
    margin-right: 5px;
}
  
.nav-tabs-custo m>.tab-content {
    background: #22252a;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    max-height: 450px;
    overflow-y: auto;
}
  
.nav-tabs-custom .dropdown.open>a:active,
.nav-tabs-custom .dropdown.open>a:focus {
    background: transparent;
    color: #999;
}
  
.nav-tabs-custom.tab-primary>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}
  
.nav-tabs-custom.tab-info>.nav-tabs>li.active {
    border-top-color: #00c0ef;
}
  
.nav-tabs-custom.tab-danger>.nav-tabs>li.active {
    border-top-color: #dd4b39;
}
  
.nav-tabs-custom.tab-warning>.nav-tabs>li.active {
    border-top-color: #f39c12;
}
  
.nav-tabs-custom.tab-success>.nav-tabs>li.active {
    border-top-color: #00a65a;
}
  
.nav-tabs-custom.tab-default>.nav-tabs>li.active {
    border-top-color: #d2d6de;
}

/* member modification form */
.member-form {
    margin-top: -20px;
    border-radius: 0px 5px 5px 5px;

}

.member-connections {
    margin-top: -20px;
    border-radius: 0px 5px 5px 5px;
    padding: 15px;
}

.form-control {
    box-shadow: none;
    border-color: #d2d6de;
}

.member-form-labels {
    font-weight: bold;
    margin-top: 7px;
    padding-left:15px;
}

.member-form-input {
    max-width: 70% !important;
    border-radius: 2px;
}

.member-form-submit { 
    background-color: #307197 !important;
    border-color: #307197 !important;
}

.member-form-item { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* settings form */
.setting-form {
    margin-top: -20px;
    border-radius: 0px 5px 5px 5px;

}

.setting-card { 
    min-height: 400px !important;
}

.setting-form-labels {
    font-weight: bold;
    margin-top: 7px;
    padding-left:15px;
}

.setting-form-input {
    max-width: 100% !important;
    border-radius: 2px;
}

.setting-form-submit { 
    background-color: #307197 !important;
    border-color: #307197 !important;
}

.setting-form-item { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.form-check-input {
    clear: left;
}
  
.form-switch.form-switch-sm {
    margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}
  
.form-switch.form-switch-sm .form-check-input {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}
  
.form-switch.form-switch-md {
    margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
}
  
.form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}
  
.form-switch.form-switch-lg {
    margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
}
  
.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}
  
.form-switch.form-switch-xl {
    margin-bottom: 2rem; /* JUST FOR STYLING PURPOSE */
}
  
.form-switch.form-switch-xl .form-check-input {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}